

@media only screen and (min-width: 1px){
    html, body {
        background-image: url('../images/FondoMarista.png') ;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           height:100%;
    }
    .banner{
      width: 100%;
      height: 70px;
      text-align: center;
      font-size: 24px;
      color: #00375D;
      background: rgba(157,157,157,.5);
      position:fixed;
    }
    .flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .content {
    display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
    }
    .m-b-md {
      margin-bottom: 30px;
    }
    #button-group {
      margin: auto;
      display: flex;
      flex-direction: row;
    }

    .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     text-align: center;
      background: rgba(157,157,157,.5);
    }
}
@media only screen and (min-width: 980px){
    html, body {
        background-image: url('../images/FondoMarista.png') ;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           height:100%;
    }
    .banner{
      width: 100%;
      height: 70px;
      text-align: center;
      font-size: 24px;
      color: #00375D;
      background: rgba(157,157,157,.5);
      position:fixed;
    }
    .flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .content {
        display: flex;
         align-items: center;
         justify-content: center;
         min-height: 100vh;
    }
    .m-b-md {
      margin-bottom: 30px;
    }
    #button-group {
      margin: auto;
      display: flex;
      flex-direction: row;
    }

    .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     text-align: center;
      background: rgba(157,157,157,.5);
  }
}
@media only screen and (min-width: 1200px){
    html, body {
        background-image: url('../images/FondoMarista.png') ;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           height:100%;
    }
    .banner{
      width: 100%;
      height: 70px;
      text-align: center;
      font-size: 24px;
      color: #00375D;
      background: rgba(157,157,157,.5);
      position:fixed;
    }
    .flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .content {
        display: flex;
         align-items: center;
         justify-content: center;
         min-height: 100vh;
    }
    .m-b-md {
      margin-bottom: 30px;
    }
    #button-group {
      margin: auto;
      display: flex;
      flex-direction: row;
    }

    .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     text-align: center;
      background: rgba(157,157,157,.5);
  }
}
